/* The navigation must clearly display the current page within the nav element. */

/* Each page should contain a main section that can be reached using a Jump to Content option with the first tab on the page.
Main must be after the navigation. */

/* One page with the images must have a component that uses grid */

/* The grid layout must change in each of your three screen sizes using min-width media queries. */

/* One page with the images must have a component that uses flexbox */

/* The flex layout must change in each of your three screen sizes using min-width media queries. */

/* Media queries for two additional layouts - tablet, and larger screen. 
the flow of elements must change, elements must hide, and grid/flex properties should be altered.*/

/* If you are using animation, you must include a prefers-reduced-motion media-query that turns it off. */
nav #porsche{

    border: 2px solid black

}

h1, h2, h3{

    text-align: left;

}

h1{

    text-align: center;

}

.welcome img{

    display: none;

}

/* Make it 3 accross for the phone display */
.gallery{
    /* Need to change this to grid at some point */
    width: 90%;
    display: grid;
    margin: auto;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    gap: 10px 10%;
    
}

.gallery h1{

    grid-column: 1/3;
    text-align: center;

}

.gallery img{

    width: 95%; 
    height: 95%;
    align-content: center;

}

.gallery h3{

    display: none;

}

.content{

    width: 90%;
    display: grid;
    margin: auto;
    grid-template-columns: 90%;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    gap: 10px 10%;

}

.content > h1{

    display: block;
    text-align: center;

}

.content h2{

    font-size: 20px;

}

.models{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.models h3{

    font-size: 40px;
    text-align: center;

}

.models ul{

    display: none;

}

.models img{

    width: 100%;

}

.movies{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.movies h3{

    font-size: 40px;
    text-align: center;

}

.movies p{

    display: none;

}

.movies img{

    width: 100%;

}

@media screen and (min-width: 700px) {

    h1{

        display: none;

    }

    .welcome img{

        display: block;
        width: 100%;
    
    }

    .gallery{
        /* Need to change this to grid at some point */
        width: 95%;
        display: grid;
        margin: auto;
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
        align-items: center;
        background-color: lightblue;
        gap: 5px 5%;
        
    }

    .models{

        display: flex;
        flex-wrap: wrap;
    
    }

    .models h1{

        grid-column: 1/4;
    
    }
    
    .models h3{
    
        font-size: 40px;
        text-align: center;
        
    
    }
    
    .models ul{
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    
    }
    
    .models img{
    
        width: 100%;
    
    }
    
    .movies{
    
        width: 100%;
        display: grid;
        margin: auto;
        grid-template-columns: 45% 45%;
        justify-content: center;
        align-items: center;
        background-color: lightblue;
        gap: 5px 5%;
    
    }
    
    .movies h3{
    
        font-size: 40px;
        text-align: center;
    
    }

    .movies h4{
    
        font-size: 20px;
        text-align: center;
    
    }
    
    .movies p{
    
        display: inline;
    
    }
    
    .movies img{
    
        width: 100%;
    
    }

    
}

@media screen and (min-width: 950px) {

    h1, h2, h3{

        text-align: left;

    }

    .welcome{

        display: grid;
        width: 90%;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
        align-items: center;
    
    }
    
    .welcome p{
    
        display: block;
        grid-column: 2;
    
    }
    
    .welcome img{
    
        display: block;
        width: 100%;
        grid-column: 1;
    
    }

    .gallery{
        /* Need to change this to grid at some point */
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            width: 100%
        
    }
        
    .gallery img{

        width: 90%; 
        height: 90%;

    }

    .gallery h3{

        display: block;
        width: 100%; 
        height: 100%;
        text-align: center;

    }

    .content{

        width: 90%;
        display: grid;
        margin: auto;
        grid-template-columns: 40% 50%;
        justify-content: space-evenly;
        align-items: center;
        background-color: lightblue;
        gap: 10px 10%;

    }

    .content > div{

        grid-row: 1/ auto;
        grid-column: 1/2;

    }

    .content > h1{

        display: none;

    }

    .content h2{

        font-size: 35px;
        vertical-align: top;
        grid-row: 1/ auto;
        grid-column: 2/3;

    }

    .models{

        width: 100%;
        display: grid;
        margin: auto;
        grid-template-columns: 45% 45%;
        justify-content: center;
        align-items: center;
        background-color: lightblue;
        gap: 5px 5%;
    
    }

    .models h1{

        display: block;
        grid-column: 1/3;
        text-align: center;
    
    }
    
    .models h3{
    
        font-size: 40px;
        text-align: center;
        
    
    }
    
    .models ul{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    
    }
    
    .models img{
    
        width: 100%;
    
    }
    
    .movies{
    
        width: 100%;
        display: grid;
        margin: auto;
        grid-template-columns: 22% 22% 22% 22%;
        justify-content: center;
        align-items: center;
        background-color: lightblue;
        gap: 5px 5%;
    
    }

    .movies h1{
    
        display: block;
        font-size: 40px;
        text-align: center;
        grid-column: 1/5;
    
    }
    
    .movies h3{
    
        font-size: 30 px;
        text-align: center;
    
    }

    .movies h4{
    
        font-size: 15px;
        text-align: center;
    
    }
    
    .movies p{
    
        display: inline;
    
    }
    
    .movies img{
    
        width: 100%;
    
    }

}