/* The navigation must clearly display the current page within the nav element. */

/* Each page should contain a main section that can be reached using a Jump to Content option with the first tab on the page.
Main must be after the navigation. */

/* One page with the images must have a component that uses grid */

/* The grid layout must change in each of your three screen sizes using min-width media queries. */

/* One page with the images must have a component that uses flexbox */

/* The flex layout must change in each of your three screen sizes using min-width media queries. */

/* Media queries for two additional layouts - tablet, and larger screen. 
the flow of elements must change, elements must hide, and grid/flex properties should be altered.*/

/* If you are using animation, you must include a prefers-reduced-motion media-query that turns it off. */
nav #porsche{

    border: 5px solid black

}

h3{
    color: white;
}


    header {
        background-color:  #800080;
      }

body{

    background-color: black;

}

.welcome p{

    color: white;

}

h1, h2, h3{

    text-align: left;

}

.welcome h1{

    display: none;
    text-align: center;
    color: darkred;

}

.welcome img{

    display: block;
    width: 90%;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;

}

.welcome p{

    display: none;

}

.history h1{

    grid-column: 1/3;
    text-align: center;
    color: darkred;

}

.gallery{
    width: 90%;
    display: grid;
    margin: auto;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 10px 10%;
    
}

.gallery h1{

    display: none;

}

.gallery img{

    width: 95%; 
    height: 95%;
    align-content: center;

}

.gallery div:nth-child(3n+1){

    grid-column: 1/3;
    width: 100%;
}

.gallery h3{

    display: none;

}

.content{

    width: 90%;
    display: grid;
    margin: auto;
    grid-template-columns: 90%;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 10px 10%;

}

.content > h1{

    display: block;
    text-align: center;
    color: darkred;

}

.content h2{

    font-size: 20px;
    color: gray;

}

.models{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: black;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.models h1{

    display: block;
    font-size: 40px;
    text-align: center;
    color: darkred;

}

.models h3{

    font-size: 40px;
    text-align: center;
    color:goldenrod;

}

.models ul{

    display: none;
    color:gray;

}

.models img{

    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.movies{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: black;
    width: 90%;
    margin: auto;

}

.movies h1{

    display: block;
    font-size: 40px;
    text-align: center;
    color: darkred;

}

.movies h3{

    font-size: 40px;
    text-align: center;
    color:goldenrod;

}

.movies h4{

    display: block;
    font-size: 40px;
    text-align: center;
    color:white;

}

.movies p{

    display: inline;
    color:gray;

}

.movies img{

    width: 100%;

}


                                                    /* This is the code from online for dropdown */

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: red;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: goldenrod;
    text-decoration: underline;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: silver;}



@media screen and (min-width: 768px) {

    .gallery{
        /* Need to change this to grid at some point */
        width: 90%;
        display: grid;
        margin: auto;
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
        align-items: center;
        background-color: black;
        gap: 5px 5%;
        
    }

    .gallery h1{

        display: block;
        grid-column: 1/4;

    }

    .gallery div:nth-child(3n+1){

        grid-column: 3/4;
        width: 100%;
    }
  
    .models ul{
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    
    }
      
    .movies{
    
        width: 90%;
        display: grid;
        margin: auto;
        grid-template-columns: 45% 45%;
        justify-content: center;
        align-items: center;
        justify-items: center;
        background-color: black;
        gap: 5px 5%;
    
    }

    .movies h1{

        grid-column: 1/3;
        text-align: center;

    }

    .movies div:last-child{

        width: 50%;
        grid-column: 1/3;

    }
        
}

@media screen and (min-width: 1280px) {

    h1, h2, h3{

        text-align: left;

    }

    .welcome{

        display: grid;
        width: 95%;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
        align-items: center;
    
    }
    
    .welcome p{
    
        display: block;
        grid-column: 2;
    
    }
    
    .welcome img{
    
        display: block;
        width: 70%;
        grid-column: 1;
        margin: auto;
    
    }

    .gallery{

        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 100%
        
    }

    .gallery h1{

        display: block;

    }
        
    .gallery div{

        display: inline;
        width: 45%; 
        height: 45%;

    }

    .gallery h3{

        display: block;
        width: 100%; 
        height: 100%;
        text-align: center;

    }

    .content{

        width: 100%;
        display: grid;
        margin: auto;
        grid-template-columns: 50% 40%;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;
        gap: 10px 10%;

        vertical-align: top;

    }

    .gallery{

        grid-row: 1/ auto;
        grid-column: 2/3;

    }

    .history{

        grid-row: 1/ auto;
        grid-column: 1/2;

    }

    .history h1{

        display: block;
        color: darkred;
        text-align: center;
        margin: auto;

    }

    .models{

        width: 100%;
        display: grid;
        margin: auto;
        grid-template-columns: 45% 45%;
        justify-content: center;
        align-items: center;
        background-color: black;
        gap: 5px 5%;
    
    }

    .models h1{

        display: block;
        grid-column: 1/3;
        text-align: center;
    
    }
    
    .models h3{
    
        font-size: 40px;
        text-align: center;
        
    
    }
    
    .models ul{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    
    }
    
    .models img{
    
        width: 100%;
    
    }
    
    .movies{
    
        width: 100%;
        display: grid;
        margin: auto;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: center;
        align-items: center;
        background-color: black;
        gap: 5px 5%;
    
    }

    .movies div:nth-child(3n + 3){

        grid-column: 2/4;

    }

    .movies div:last-child{

        grid-column: 4/5;
        width: 100%

    }

    .movies h1{
    
        display: block;
        font-size: 40px;
        text-align: center;
        grid-column: 1/5;
    
    }
    
    .movies h3{
    
        font-size: 30px;
        text-align: center;
    
    }

    .movies h4{
    
        font-size: 15px;
        text-align: center;
    
    }
    
    .movies p{
    
        display: inline;
    
    }
    
    .movies img{
    
        width: 100%;
    
    }

}